body {
    background: gray;

}

#GameScene {
}

var {
    color: #000000;
}

.container {
    padding-top: 200px;
}

#bg-canvas {
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}