body {
    background: gray;

}

#GameScene {
}

var {
    color: #000000;
}

.container {
    padding-top: 200px;
}

#bg-canvas {
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.right-corner {
    float: right;
    font-size: 50px;
    color: #fff;
    background-color: #212529;
    border-radius: .3rem;
}
